// Variables
//
// 各値を定義
//
// Styleguide variables

$color-base-black: #333333;
$color-base-white: #ffffff;
$color-base-gray: #f7f7f8;
$color-border-gray: #aab5bd;

$color-key: #004161;
$color-accent-heading: #000;
$color-accent-icon: #0094be;
$color-accent-text: #51656f;

$breakpoint-xl: 1600px;
$breakpoint-lg: 1280px;
$breakpoint-md: 1024px;
$breakpoint-sm: 769px;
$breakpoint-xs: 480px;